body {
  font-family: Arial;
  background: #efe5e5;
  text-align: center;
}
.container {
  width: 350px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 19px;
  box-shadow: 0 0 10px rgb(44, 39, 39);
}
input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 19px;
}
button {
   border-radius: 19px;
  padding: 10px 15px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
 
  background: darkgreen;
}
.error {
  color: red;
  font-size: 14px;
  margin: 2px 0;
}
.success {
  color: green;
  font-weight: bold;
}
.apiData {
   border-radius: 19px;
  margin-top: 20px;
  background: #e8f5e9;
  padding: 10px;
}
